<!DOCTYPE html>
<html ng-app='MyApp' class="ng-scope">
  <head>
        <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'/></script>
        <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular.js'/></script>
        <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-route.js'/></script>
        <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-resource.min.js'/></script>
        <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-cookies.min.js'/></script>
        <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-sanitize.js'/></script>
        <script type='text/javascript' src='bower_components/d3/d3.js'/></script>
        <script type='text/javascript' src='bower_components/nvd3/nv.d3.js'/></script>
        <script type='text/javascript' src='bower_components/angularjs-nvd3-directives/dist/angularjs-nvd3-directives.js'/></script>
        <script type='text/javascript' src='//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js'/></script>
        <script type='text/javascript' src='//code.jquery.com/jquery-1.7.1.js'/></script>
        <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js'/></script>
        <script type='text/javascript' src='js/massautocomplete.js'/></script>
        <script type='text/javascript' src='js/app.js'/></script>
        <script type='text/javascript' src='js/services.js'/></script>
        <script type='text/javascript' src='js/directives.js'/></script>
        <script type='text/javascript' src='js/controllers.js'/></script>
        <script type='text/javascript' src='js/angular/angular-animate.js'/></script>
        <script type='text/javascript' src='js/bootstrap/ui-bootstrap-tpls-0.12.0.js'/></script>
        <script type='text/javascript' src='bower_components/nvd3/angularjs-nvd3-directives.js'/></script>
        <script type='text/javascript' src='../../bower_components/nvd3/components/d3/d3.js'/></script>
        <script type='text/javascript' src='../../bower_components/nvd3/nvd3/nv.d3.js'/></script>
        <script type='text/javascript' src='bower_components/angular-socket-io/socket.js'/></script>

        <link type="text/css" rel="stylesheet", href='http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css'/> </link>
        <link type="text/css" rel="stylesheet", href='/stylesheets/style.css'/></link>
        <link type="text/css" rel="stylesheet", href='/stylesheets/nav.css'/></link>
        <link type="text/css" rel="stylesheet", href='/stylesheets/nav2.css'/></link>
        <link type="text/css" rel="stylesheet", href='/stylesheets/bootstrap.min.css'/></link>
        <link type="text/css" rel="stylesheet", href='bower_components/nvd3/nv.d3.css'/></link>
        <link type="text/css" rel="stylesheet", href='//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css'/></link>
  </head>
<body ng-controller="MainController"></body>
<div class="nav navbar top-menu">
        <div class="superheading3"> <span id="tab"> Connected Warehouses </span><p></div>
</div>
<div>    
    <nav class="main-menu">
            <ul>
                <li>
                    <a href="/#/Inventory" class="ng-scope ng-binding">
                        <i class="fa fa-home fa-3x"></i>
                        <span class="nav-text">
                            Inventory
                        </span>
                    </a>
                  
                </li>
                <li class="has-subnav">
                     <a href="/#/Sales Order" class="ng-scope ng-binding">
                        <i class="fa fa-laptop fa-3x"></i>
                        <span class="nav-text">
                            Sales Order
                        </span>
                    </a>
                    
                </li>
                <li class="has-subnav">
                     <a href="/#/Purchase Order" class="ng-scope ng-binding">
                       <i class="fa fa-list fa-3x"></i>
                        <span class="nav-text">
                            Purchase Order
                        </span>
                    </a>
                    
                </li>
                <li class="has-subnav">
                    <a href="#">
                       <i class="fa fa-folder-open fa-3x"></i>
                        <span class="nav-text">
                            Dashboard
                        </span>
                    </a>
                   
                </li>
    </nav>
    <div ng-view="" class="right-content"></div>

</div>
</html>