doctype html
html(lang='en', ng-app='MyApp')
	head
		title Wipro Connected Warehouse
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
		script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular.js')
		script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-route.js')
		script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-resource.min.js')
		script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-cookies.min.js')
		script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-sanitize.js')
		script(src='bower_components/d3/d3.js')
		script(src='bower_components/nvd3/nv.d3.js')
		script(src='bower_components/angularjs-nvd3-directives/dist/angularjs-nvd3-directives.js')
		script(src='//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
		script(src='http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false')
		script(src='//code.jquery.com/jquery-1.7.1.js')
		script(src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js')
		script(src='js/massautocomplete.js')
		script(src='js/app.js')
		script(src='js/services.js')
		script(src='js/directives.js')
		script(src='js/controllers.js')
		script(src='js/bootstrap/ui-bootstrap-tpls-0.12.0.js')
		script(src='bower_components/nvd3/angularjs-nvd3-directives.js')
		script(src='../../bower_components/nvd3/components/d3/d3.js')
		script(src='../../bower_components/nvd3/nvd3/nv.d3.js')
		script(src='bower_components/angular-socket-io/socket.js')

		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/nav.css')
		link(rel='stylesheet', href='/stylesheets/modal.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='bower_components/nvd3/nv.d3.css')
		link(rel='images', href='/images/coming.png')
		
	body(ng-controller="MainController")
	div
		div.nav.navbar.top-menu
			div.navbar-header
				button#nav-toggle.navbar-toggle(type='button', data-toggle='collapse', data-target='#main-nav')
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand.scrol	Wipro Connected Warehouse
			div#main-nav.collapse.navbar-collapse
				ul.nav.navbar-nav
					li
						a.scroll-link(href='#', data-id='africa')  
					li
						a.scroll-link(href='#', data-id='antarctica')  
					li
						a.scroll-link(href='#', data-id='asia')  
					li
						a.scroll-link(href='#', data-id='australia') 
					li
						a.scroll-link(href='#', data-id='europe') 
					li
						a.scroll-link(href='#', data-id='north-america') 
					li
						a.scroll-link(href='#', data-id='south-america') 
					li
						a.scroll-link(href='#', data-id='south-america', ng-click='Logout()') &nbsp &nbsp
							
		.left-menu
			.left-nav(ng-controller='MenuController')
				.site-nav
					ul
						li.tutorials(ng-mouseover='showTutorials()', ng-mouseout='hideTutorials()')
							a(href='')
								| Task Menu
								span.arrow-icon
									i.fa.fa-caret-right
							ul.drop-down(ng-show='showtutorials')
								li.list-title Task Menu
								li
									a(ng-click='hideTutorials()', ng-repeat='menu in tutorialmenu', href='/#/{{menu}}') {{menu}}
						li.articles(ng-mouseover='showArticles()', ng-mouseout='hideArticles()')
							a(href='')
								| Graphical Reports
								span.arrow-icon
									i.fa.fa-caret-right
							ul.drop-down(ng-show='showarticles')
								li.list-title Graphical Reports
								li
									a(ng-click='hideArticles()', ng-repeat='menu in articlemenu', href='/#/{{menu}}') {{menu}}	
									
		.right-content(ng-view='')
						
